In [10]:
list1 = [2,3,5,6]

list1[0] = list1[0]*2
list1[1] = list1[1]*2
list1[2] = list1[2]*2
list1[3] = list1[3]*2

In [38]:
list1=list(range(10,17))
list1

[10, 11, 12, 13, 14, 15, 16]

In [31]:
for element in list1:
    index = list1.index(element)
    list1[index]=element*2

In [37]:
list2= []
for element in list1:
    list2.append(element*2)
    
list2

[20, 22, 24, 26, 28, 30, 32]

In [50]:
list2= []
for element in list1:
    if list1.index(element) % 2 == 0:
        list2.append(element)
    
list2

[67, 2, 8]

In [52]:
list1 =[67,34,2,5,8,12]

list2= []
for index in range(len(list1)):
    if index % 2 == 0:
        list2.append(list1[index])
    
list2

[67, 2, 8]

In [53]:
result_sum = 0
for element in list1:
    result_sum = result_sum + element
   
    
result_sum

128

In [60]:
n = 4
# list1 = list(range(1,n+1))

result_sum = 1
for element in range(1,n+1):
    result_sum = result_sum * element
    print(element,result_sum)
   
    
result_sum

1 1
2 2
3 6
4 24

24

In [54]:
list1

[67, 34, 2, 5, 8, 12]

In [ ]:
5! = 1*2*3*4*5  = 120
4! = 1*2*3*4 = 24

5! = 4! * 5

n = 5

In [ ]:
madam
121

123321

In [64]:
s = '12321'
if s==s[::-1]:
    print('Pal')
else:
    print('Not')

Pal

In [73]:
list5 =[57,494,757,375,256558]

list7= []
for index in range(len(list5)):
    if index % 2 == 0:
        list7.append(list5[index])

list7

[57, 757, 256558]