In [2]:
a = 3
b = 5
  
c = a + b
  
# Output
print(c)

8

In [5]:
a = 3
b = 12
  
# a = a + b
a += b
  
# Output
print(a)

15

In [7]:
a = 3
b = 5
  
# a = a - b
a -= b
  
# Output
print(a)

-2

In [9]:
a = 3
b = 5
  
# a = a * b
a *= b
  
# Output
print(a)

15

In [12]:
a = 3
b = 7
  
# a = a / b
a /= b
  
# Output
print(a)

0.42857142857142855

In [14]:
a = 3
b = 5
  
# a = a % b
a %= b
  
# Output
print(a)

3

In [16]:
a = 3
b = 5
  
# a = a // b
a //= b
  
# Output
print(a)

0

In [18]:
a = 3
b = 5
  
# a = a ** b
a **= b
  
# Output
print(a)

243

In [20]:
a = 3
b = 5
  
# a = a & b
a &= b
  
# Output
print(a)

1

In [22]:
a = 3
b = 5
  
# a = a | b
a |= b
  
# Output
print(a)

7

In [29]:
a = 3
b = 5
  
# a = a ^ b
a ^= b
  
# Output
print(a)

6

In [31]:
a = 3
b = 5
  
# a = a >> b
a >>= b
  
# Output
print(a)

0

In [33]:
a = 3
b = 5
  
# a = a << b
a <<= b
  
# Output
print(a)

96

In [64]:
a = 7
b = 2

# addition
print ('Sum: ', a + b)  

# subtraction
print ('Subtraction: ', a - b)   

# multiplication
print ('Multiplication: ', a * b)  

# division
print ('Division: ', a / b)

# floor division
print ('Floor Division: ', a // b)

# modulo
print ('Modulus: ', a % b)  

# a to the power b
print ('Power: ', a ** b)

Sum:  9
Subtraction:  5
Multiplication:  14
Division:  3.5
Floor Division:  3
Modulus:  1
Power:  49

In [40]:
a = 2

b = 4

print(a < b)

True

In [42]:
a = 2

b = 4

print(a > b)

False

In [44]:
a = 9
b = 5
  
# Output
print(a <= b)

False

In [46]:
a = 9
b = 5
  
# Output
print(a >= b)

True

In [48]:
a = 9
b = 5
  
# Output
print(a == b)

False

In [50]:
a = 9
b = 5
  
# Output
print(a != b)

True

In [52]:
x = 5

print(x > 3 and x < 10)

True

In [54]:
x = 5

print(x > 3 or x < 4)

True

In [56]:
x = 5

print(not(x > 3 and x < 10))

False

In [58]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

print(x is y)

print(x == y)

True
False
True

In [60]:
x = ["apple", "banana"]

print("banana" in x)

True

In [62]:
x = ["apple", "banana"]

print("pineapple" not in x)

True