In [2]:
# Dictionary recap

# dict1 = {key:value}

dict1 = {1:'A', 2:'B', 3:'C'}

len(dict1)

3

In [3]:
list1 = [2, 3, 5, 6]

list1[0]

2

In [4]:
list1 = [2, 3, 5, 6]

list1[0]*2

4

In [5]:
list1 = [2, 3, 5, 6]

list1[3]*5

30

In [6]:
list1

[2, 3, 5, 6]

In [8]:
list1[0]*2
list1.update
list1

AttributeError: 'list' object has no attribute 'update'

In [9]:
list1[1]

3

In [10]:
list1[1] = 100

In [11]:
list1

[2, 100, 5, 6]

In [12]:
list1 = [2, 3, 5, 6]

list1[0] = list1[0]*2

list1[1] = list1[1]*2

list1[2] = list1[2]*2

list1[3] = list1[3]*2

In [13]:
list1

[4, 6, 10, 12]

In [14]:
list(range(4))

[0, 1, 2, 3]

In [15]:
list(range(0, 4))

[0, 1, 2, 3]

In [16]:
list(range(1, 4))

[1, 2, 3]

In [17]:
for i in list(range(1, 4)):
    
    print(i)

1
2
3

In [18]:
list1

[4, 6, 10, 12]

In [19]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [20]:
for i in list(range(6)):
    
    print(i)

0
1
2
3
4
5

In [21]:
for element in list(range(6)):
    
    print(element)

0
1
2
3
4
5

In [22]:
list1

[4, 6, 10, 12]

In [23]:
list(range(10, 17))

[10, 11, 12, 13, 14, 15, 16]

In [24]:
for element in list(range(10, 17)):
    
    print(element)

10
11
12
13
14
15
16

In [25]:
for element in list(range(10, 17)):
    
    print(element*2)

20
22
24
26
28
30
32

In [26]:
list1=list(range(10, 17))

In [27]:
for element in list1:
    
    print(list1.index(element),element)

0 10
1 11
2 12
3 13
4 14
5 15
6 16

In [28]:
for element in list1:
    
    print(list1.index(element),'index',element,'element')

0 index 10 element
1 index 11 element
2 index 12 element
3 index 13 element
4 index 14 element
5 index 15 element
6 index 16 element

In [29]:
for element in list1:
    
    index = list1.index(element)
    
    list1[index]=element*2

In [30]:
list1

[20, 22, 24, 26, 28, 30, 32]

In [31]:
list1.index(20)

0

In [32]:
list2 = []

for element in list1:
    
    index = list1.index(element)
    
    list2.append(element*2)
    
    list2

In [33]:
list2

[40, 44, 48, 52, 56, 60, 64]

In [34]:
list1=list(range(10, 17))

list1

[10, 11, 12, 13, 14, 15, 16]

In [37]:
list2 = []

for element in list1:
    
    if element % 2 == 0:
    
       list2.append(element*2)
    
    list2

In [38]:
list2

[20, 24, 28, 32]

In [45]:
list2 = []

for element in list1:
    
    if element % 2 == 0:
    
       list2.append(element)

In [46]:
list2

[20, 22, 24, 26, 28, 30, 32]

In [48]:
list1 = [67, 34, 2, 5, 8, 12]

list2 = []

for element in list1:
    
    if element % 2 == 0:
    
       list2.append(element)

In [49]:
list2

[34, 2, 8, 12]

In [50]:
list1 = [67, 34, 2, 5, 8, 12]

list2 = []

for element in list1:
    
    if element % 2 == 0:
    
       list2.append(element*2)

In [51]:
list2

[68, 4, 16, 24]

In [52]:
list2 = []

for element in list1:
    
    if list1.index(element) % 2 == 0:
    
       list2.append(element)

In [53]:
list2

[67, 2, 8]

In [66]:
list1 = [67, 34, 2, 5, 8, 12]

list2 = []

for index in range(len(list1)):
                   
                   if index % 2 == 0:
                           list2.append(list1[index])

In [67]:
list2

[67, 2, 8]

In [68]:
myList = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print("The given list is:")
print(myList)
list_length=len(myList)
sumOfElements=0
for i in range(list_length):
    sumOfElements=sumOfElements+myList[i]

print("Sum of all the elements in the list is:", sumOfElements)

The given list is:
[1, 2, 3, 4, 5, 6, 7, 8, 9]
Sum of all the elements in the list is: 45

In [73]:
# Python program to print Even Numbers in a List
 
# list of numbers
list1 = [10, 21, 4, 45, 66, 93]
 
# iterating each number in list
for num in list1:
 
    # checking condition
    if num % 2 == 0:
        print(num, end=" ")

10 4 66

In [74]:
# Python program to print odd Numbers in a List
 
# list of numbers
list1 = [10, 21, 4, 45, 66, 93]
 
# iterating each number in list
for num in list1:
 
    # checking condition
    if num % 2 != 0:
       print(num, end=" ")

21 45 93

In [79]:
list1 = [67, 34, 2, 5, 8, 12]

result_sum = 0

for element in list1:
    
    result_sum = result_sum + element

In [80]:
result_sum

128

In [83]:
list1

[67, 34, 2, 5, 8, 12]

In [84]:
#Taking user input
n = int(input("Enter a number: "))

factorial = 1

if n < 0: #Check if the number is negative
   print("Factors do not exist for negative numbers.")
elif n == 0: #Check if the number is zero
   print("The factorial of 0 is 1.")
else:
   for i in range(1,n + 1):
       factorial = factorial*i
   print("The factorial of",n,"is",factorial)

Enter a number: 5
The factorial of 5 is 120

In [85]:
#Taking user input
n = int(input("Enter a number: "))

factorial = 1

if n < 0: #Check if the number is negative
   print("Factors do not exist for negative numbers.")
elif n == 0: #Check if the number is zero
   print("The factorial of 0 is 1.")
else:
   for i in range(1,n + 1):
       factorial = factorial*i
   print("The factorial of",n,"is",factorial)

Enter a number: 12
The factorial of 12 is 479001600

In [86]:
#initialize count variable to 1
count =1

while count < 6 :
    print (count)
    count+=1
#the above line means count = count + 1

1
2
3
4
5

In [87]:
n = 5

list1 = list(range(1, n+1))

result_sum = 1

for element in list1:
    
    result_sum = result_sum * element

In [88]:
result_sum

120

In [89]:
n = 14

list1 = list(range(1, n+1))

result_sum = 1

for element in list1:
    
    result_sum = result_sum * element

In [90]:
result_sum

87178291200

In [ ]:
n = 14

#list1 = list(range(1, n+1))

result_sum = 1

for element in list1:
    
    result_sum = result_sum * element
    
    print(element, result_sum)

In [95]:
result_sum

87178291200

In [97]:
n = 14

#list1 = list(range(1, n+1))

result_sum = 1

for element in list1:
    
    result_sum = result_sum * element
    
    print(element, result_sum)
    
    result_sum

1 1
2 2
3 6
4 24
5 120
6 720
7 5040
8 40320
9 362880
10 3628800
11 39916800
12 479001600
13 6227020800
14 87178291200

In [102]:
n = 3

#list1 = list(range(1, n+1))

result_sum = 1

for element in list1:
    
    result_sum = result_sum * element
    
    print(element, result_sum)

1 3
2 6
3 18
4 72
5 360
6 2160
7 15120
8 120960
9 1088640
10 10886400
11 119750400
12 1437004800
13 18681062400
14 261534873600

In [103]:
string=input(("Enter a letter:"))  
if(string==string[::-1]):  
      print("The letter is a palindrome")  
else:  
      print("The letter is not a palindrome")

Enter a letter:madam
The letter is a palindrome

In [104]:
string=input(("Enter a letter:"))  
if(string==string[::-1]):  
      print("The letter is a palindrome")  
else:  
      print("The letter is not a palindrome")

Enter a letter:JavaScript
The letter is not a palindrome

In [106]:
s = '123'

if s==s[::-1]:
    
    print('Pal')
    
else:
        
    print('Not')

Not

In [107]:
s = 'madam'

if s==s[::-1]:
    
    print('Pal')
    
else:
        
    print('Not')

Pal

In [108]:
s = '12321'

if s==s[::-1]:
    
    print('Pal')
    
else:
        
    print('Not')

Pal

In [109]:
# Python program showing  
# a use of input()  
name = input("Enter your name: ")  # String Input  
age = int(input("Enter your age: ")) # Integer Input  
marks = float(input("Enter your marks: ")) # Float Input  
print("The name is:", name)  
print("The age is:", age)  
print("The marks is:", marks)

Enter your name: Hriddho
Enter your age: 22
Enter your marks: 93
The name is: Hriddho
The age is: 22
The marks is: 93.0

In [110]:
list5 = [56, 732, 91, 73, 22, 80, 21347, 342]

list7 = []

for index in range(len(list5)):
    
    if index % 2 == 0:
        
        list7.append(list5[index])
        
        list7

In [116]:
 list7

[56, 91, 22, 21347]